body {
  background-color: #111238;
}

.main-container {
  background-color: #111238 !important;
}

.hero-container {
  justify-content: center;
  align-items: left;
  height: 100%;
  margin: 0 10%;
  margin-top: 7%;

}
.hero-container h4 {
  font-size: 36px;
  color: #72b65a;

  font-weight: 700;
}
.hero-container .comptitle {
  font-size: 55px;
  color: #fff;
  font-weight: 700;
  
}
.hero-container .whoweare {
  font-size: 18px;
  color: #fff;

  font-weight: 400;
  margin-top: 20px;
}
.hero-container .Herobutton {
  background-color: #72b65a;
  color: #000;
  border: none;
  padding: 10px 10px;
  width: 200px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  justify-content: space-evenly;
  display: flex;
  self-align: center;
}
.whoweare a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.trialbutton {
  background-color: #111238;
  color: #fff;
  border: none;
  padding: 10px 20px;
  width: 200px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  justify-content: space-evenly;
  self-align: center;
  border: 2px solid #72B65A;
}

.hero-img {
  height: 550px;
  width: 100%;
  
}
.hero-img img {
  object-fit: fill;
  height: 100%;
  width: 100%;
  
}


.p-x-0 {
  padding-left: 0px;
  padding-right: 0px;
}
