.quicksection {
  padding-block: 120px;
  background-color: #111238;
}

.quicktitle {
  font-size: 36px;
  color: #72b65a;
  text-align: center;
  font-weight: 700;
}
.quickrow {
  justify-content: space-evenly;
  margin-top: 50px;
}
