.NavBar {
  background-color: #111238;
  padding-top: 20px;
  padding-bottom: 20px;
  /* text-align: center; */
}
.offerheading{
  padding-left: 50px;
  padding-bottom: 100px;
  padding-top: 0px;
  margin-top: 0px;
  white-space: nowrap;
  
}
.tabcontainer{
  display:flex;
  flex-direction: row;
  padding-block: 70px;
}
.left-section{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
}
.offerheading h2{
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0px;


}
.tabs-wrapper {
  background-color: white;
  padding-block: 70px;
}

.tabs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav-item {
  color: #ffffff;
  margin-left: 40px;
  text-decoration: none;
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
  border-left: 5px solid #afafaf;
  border-bottom: 5px solid #afafaf;
  margin-bottom: 20px;
  width: 150px
}

.nav-item:focus-within {
  border-left: 5px solid black !important;
  border-bottom: 5px solid black !important;
}
.nav-link {
  color: #7f7f7f;
}
.nav-link:hover {
  color: black;
}

.nav-link:focus {
  color: black;
}
.flex-column{
  height: 250px;
  justify-content: space-between;
}
/* .nav-link:after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  margin-top: 8px;
  background-color: black;
  transition: width 0.3s;
  color: black;
} */
.nav-link:focus:after {
  width: 100%;
  transition: width 0.3s;
  color: black;
}
.nav-item:active {
  color: #91f5ad;
}
.offertitle_mobile{
  display: none;
}
@media screen and (max-width:786px){
  .tabcontainer{
    display:flex;
    flex-direction: column;
  }
  .offertitle_desktop {
    display: none;
  }
  .offertitle_mobile{
    display: block;
    font-size: 30px;
    font-weight: 750;
    justify-content: center;
    text-align: center;
  }
}