
  
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease-in-out;
  }


  @media screen and (max-width: 768px) {
    /* hide the search input and show the menu button */
    input {
      
    }
    button {
    }
  }

/* TopComponent Css*/
.top-container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  /* background-image: linear-gradient(to right, rgb(102, 0, 0) 0%, rgb(204, 0, 0) 50%, rgb(102, 0, 0) 100%); */
  background-color: #111238
}

.title {
  margin: 30px;
  margin-left: 90px;
  color: white;
  font-size: 1.5rem;
}

.search {
  margin: 30px;
  height: 40px;
  width: 200px;
  margin-right: 90px;
  font-size: 1rem;
}
